.xsm-action-bar {
  height: 100%;

  display: flex;
  flex-direction: row;
  //   justify-content: space-between;
  align-items: center;

  &__button {
    padding: 10px 15px;
    background-color: var(--one-dark-primary-light-blue);
    border-radius: 10px;

    &--step {
      margin-right: 20px;
    }

    &--continue {
      margin-right: 220px;
    }

    &--start {
      margin-left: 20px;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    &--stop {
      margin-left: 10px;
    }
    &--start {
    }
  }
}
