.xsm-code-editor {
  flex-grow: 1;
  flex-basis: 60px;

  padding: 30px;

  max-height: 100%;
  // display: block;
  // position: absolute;
  // height:auto;

  border-right: 0.8px solid var(--col-primary-border-grey);
}

.cm-theme {
  height: 100% !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

// For code editor font
.cm-scroller {
  font-family: "Hack" !important;
}

.cm-gutters {
  color: rgb(82, 82, 82) !important;
}
