:root {
  --one-dark-primary-dark-blue: #21252b;
  --one-dark-primary-blue: #282c34;
  --one-dark-primary-light-blue: #36425a;

  --col-primary-border-grey: #333333;

  --col-font-register-text: #a8a6a6;
}
